:root {
  --main-color: #fec260;
}

body {
  background-color: #f7ecde;
  font-family: "PT Sans Caption", sans-serif;
}
::selection {
  background-color: var(--main-color);
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 3.125rem;
  width: fit-content;
  color: rgb(53, 46, 40);
  margin-bottom: 3.75rem;
}

h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: var(--main-color);
  bottom: 5px;
  left: 0;
  z-index: -1;
  transition: height 0.25s;
}

h1:hover::after {
  height: 60%;
}
hr {
  border: none;
  border-top: 0.125rem dotted #000;
  margin: 1.25rem 0;
}

h2 {
  font-family: "Righteous", cursive;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 .first {
  color: #3fa55b;
}
h2 .second {
  color: #b2ac49;
}

.body label {
  font-weight: 600;
}

.form-control:focus {
  color: #212529;
  background-color: var(--bs-body-bg);
  border-color: #d99c39;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fec26055;
}

.btn button {
  cursor: pointer;
  color: #fff;
  background-color: #d1512d;
}

.btn button:hover {
  background-color: #a03315;
  color: #fff;
}

.btn-visit {
  color: #fff;
  background-color: #9eb23b;
  border-color: transparent;
  transition: all 0.3s;
}

.btn-visit:hover {
  color: #fff;
  background-color: #8a9e23;
  border-color: transparent;
}

.btn-delete {
  color: #fff;
  background-color: #eb1d36;
  border-color: transparent;
}
.btn-delete:hover {
  color: #fff;
  background-color: #d30820;
  border-color: transparent;
}
